
.DS_Store
.AppleDouble
.LSOverride

.Spotlight-V100
.Trashes

.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.com.apple.timemachine.donotpresent
.apdisk

__pycache__/
*.py[cod]
*$py.class

venv/
env/
ENV/
.venv/
.ENV/

pip-wheel-metadata/
*.egg-info/
.eggs/

.vscode/
.idea/

.ipynb_checkpoints/

*.log
*.pot
*.pyc
.cache/
dist/
build/